/* header section */
.action-bar {
    margin-right: 30px;
    
}

.flex-direction {
    flex-direction: column;
}

.action-bar 

.das {
    padding-left: 50%;
}

.icon {
    font-size: 20px;
}

.overflow-auto {
    overflow: auto;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.dropdown .profile-wrap {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
}

#toggleSidebar {
    display: none;
}

